@using System.Collections.Generic
@page "/projects-cards"
@inject HttpClient Http

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>

@if (projects == null)
{
  <p>Loading...</p>
}
else
{
  var enumerator = ((IEnumerable<Project>)projects).GetEnumerator();
  while (enumerator.MoveNext())
  {
    // yeah, dumb repetition - will learn how to use razor at some point..
    var oddIndexProject = enumerator.Current;

    if (enumerator.MoveNext())
    {
      var evenIndexProject = enumerator.Current;

      <div class="row">
        <div class="col-sm-6">
          <div class="card bg-body border-0">
            <img class="card-img-top" src="@oddIndexProject.Icon" alt="@oddIndexProject.Name icon">
            <div class="card-body">
              <h5 class="card-title">@oddIndexProject.Name</h5>
              <p class="card-text">@oddIndexProject.Description</p>
              <a href="@oddIndexProject.Docs" class="btn btn-primary">Docs</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card bg-body border-0">
            <img class="card-img-top" src="@evenIndexProject.Icon" alt="@evenIndexProject.Name icon">
            <div class="card-body">
              <h5 class="card-title">@evenIndexProject.Name</h5>
              <p class="card-text">@evenIndexProject.Description</p>
              <a href="@evenIndexProject.Docs" class="btn btn-primary">Docs</a>
            </div>
          </div>
        </div>
      </div>
    }
    else
    {
      <div class="row">
        <div class="col-sm-6">
          <div class="card bg-body border-0">
            <img class="card-img-top" src="@oddIndexProject.Icon" alt="@oddIndexProject.Name icon">
            <div class="card-body">
              <h5 class="card-title">@oddIndexProject.Name</h5>
              <p class="card-text">@oddIndexProject.Description</p>
              <a href="@oddIndexProject.Docs" class="btn btn-primary">Docs</a>
            </div>
          </div>
        </div>
      </div>
    }
  }
}

@code {
  private Project[]? projects;

  protected override async Task OnInitializedAsync()
  {
    projects = await Http.GetFromJsonAsync<Project[]>("data/projects.json");
  }

  public class Project
  {
    public string Name { get; set; }

    public Uri Icon { get; set; }

    public string Description { get; set; }

    public Uri Docs { get; set; }
  }
}
